<meta charset="utf8">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

<style>
h2 {color: #0a8fc4; }
img {width: 771px; height: auto;}

@media only screen and (min-width: 1024px) {
 .content {
	width: 800px;
 }
}


</style>

<div align="center">
<div class='content'>

<h1>Бесплатные мероприятия от <a href="https://www.facebook.com/startupHimki">StartupHimki</a> и <a href='https://www.facebook.com/profile.php?id=100011222233927&ref=bookmarks'>Юрий Ярцев</a></h1>

<img src='https://pp.vk.me/c626523/v626523745/3e4b9/rRjENTOBS0A.jpg'>

<h2>Что такое СтартапХимки?</h2>

<div align='left'>

	<li><strong>Индивидуальные и групповые занятия</strong> по английскому языку 12+
	<li><strong>Программирование и автоматизация</strong> работы малого и среднего бизнеса
	<li><strong>Письменные</strong>, устные переводы и локализация на любые языки
	<li><strong>Персональные рабочие места</strong> и офисы от <a href='//coworking.ru' target='_blank' style='color: black'>Коворкинг14</a>
	<br><br>
	<li><strong>Бесплатные экспертные часы</strong> – пиар, локализация, программирование и т.д. - 1 раз в месяц
	<li><strong>Бесплатные мастер-классы</strong> по созданию сайтов без навыков программирования - 1 раз в месяц
	<li><strong>Бесплатные групповые занятия по английскому</strong> для взрослых 1-2 раза в нед
	<li><strong>Бесплатные встречи предпринимателей и стартаперов</strong> - 1 раз в месяц

</div>

<h2>Как узнать расписание мероприятий?</h2>

<p>Нужно подписаться на страницу <a href="https://www.facebook.com/startupHimki">StartupHimki</a> и <a href='https://www.facebook.com/profile.php?id=100011222233927&ref=bookmarks'>Юрий Ярцев</a> и следить за анонсами

<h2>Как записаться на мероприятие?</h2>

<p>Бесплатные встречи обычно проходят по вторникам и четвергам. Пишем в личку (<a href="https://vk.com/banduran">вк</a>, <a href="https://www.facebook.com/profile.php?id=100011222233927">фб</a>) свое фио, телефон и желаемый день для мероприятия. </p>

<h2>Место: БЦ Аэросити напротив ТЦ Hoff и БЦ Кантри Парк</h2>

<p>Адрес: Москва, Куркинское шоссе, строение 2, здание БЦ Аэросити, 14 этаж, помещение Коворкинг 14</p>

<p><strong>Пользователям навигатора Google Maps</strong>. Если указать точный адрес, заедете в совершенно другую сторону. <strong>Решение проблемы:</strong> вбивайте в строку поиска "Коворкинг 14". 
<br></p>

<img src="http://upro.bz/uploads/image/file/11775/watermarked_1.jpg">

<h2>Проезд на общественном из Куркино</h2>

<p>Остановка "8-мкр Куркина". Автобус 268 и 268К, маршрутка 980. Едем до остановки мкрн 2Б Химки. <br>
Оттуда минут 7 пешком по Бабакина до Кантри Парка, далее слегка направо будет виден новый высокий Бизнес Центр</p>

<img src="kurkino-vorot-him-2b.jpg">

<h2>Проезд на общественном из Москвы</h2>

<p>Ещё как вариант 309м от Войковской(первый вагон из центра и в переходе направо. <br>На Ленинградке будут стоять. Ехать до того же Бутаково</p>

<img src="https://pp.vk.me/c626523/v626523745/3e4c2/cWuPbGiiFlE.jpg">

<h2>Проезд на своем авто</h2>

<p>Внимание! Пользователям навигатора Google Maps - вбивайте в строку поиска "Коворкинг 14".
<br>Если указать адрес выше, заедете в совершенно другую сторону</p>

<iframe width="771" height="600" src="https://www.youtube.com/embed/y1Of7xbzW2w" frameborder="0" allowfullscreen></iframe>

<h2>Контакты</h2>

<a href="https://vk.com/banduran">Вконтакт</a>, <a href="https://www.facebook.com/profile.php?id=100011222233927">Фейсбук </a>

</div>
</div>

<!-- формат: смотрим, записываем незнакомые слова, обсуждаем, пытаясь понять их.
Сейчас никто не корректирует. Когда наберется группа и ядро, будем нанимать носителя-->

<!-- CheckList

Новеньким - заполнить анкету
Тем, кто пришел - попросить отзыв
Просьба ко всем лайкнуть https://www.facebook.com/startupHimki
Просьба поставить оценку конкретному прошедшему мероприятию
-->